#results-list {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}
#results-list li {
  padding: 5px 20px;
  background: #efefef;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 3px auto;
}
#results-list li:hover {
  background: #ddd;
}
